
h1{
    color: blue;
    background-color: black;
    text-decoration: dotted;
    font-family: Arial, Helvetica, sans-serif;
  
}

body{
    background-color: yellowgreen;
}

button{
    background-color: red;
    color:blue;
}






























