body{
    background-color: darkgray;
    color: black;
    margin: 10%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#name{
    background-color:black;
    color: white;
}

p{
    background-color: black;
    color: white;
}













